[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-yaourt"]
	path = dotbot-yaourt
	url = https://github.com/niklas-heer/dotbot-yaourt
[submodule "dotbot-sync"]
	path = dotbot-sync
	url = https://github.com/j1r1k/dotbot-sync.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "utils/adb-sync"]
	path = utils/adb-sync
	url = https://github.com/google/adb-sync
