[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gnuplot-kernel = "*"
pari-jupyter = "*"
jupyter-c-kernel = "*"
bash-kernel = "*"
octave-kernel = "*"

[dev-packages]

[requires]
python_version = "3.7"
